[phases.setup]
nixPkgs = [
    "nodejs-20.x",
    "pnpm-9_x"
]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]
cacheDirectories = ["node_modules"]

[phases.build]
cmds = ["pnpm run build"]
env = {
    "NEXT_TELEMETRY_DISABLED" = "1",
    "CI" = "true"
}

[start]
cmd = "pnpm start"

[build]
context = "."