@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: "Anek Bangla", sans-serif;
}

/* Add this CSS to your global styles or in the component's CSS module */
/* Beep animation */
/* Beep animation */
/* Beep animation */
@keyframes beep {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}

/* Button styles */
.outline-button {
    padding: 4px 16px;
    border: 1px solid #FF7128;
    background-color: transparent;
    color: #FF7128;
    border-radius: 5px;
    font-size: 12px;
    font-weight: semibold;
    text-transform: uppercase;
    cursor: pointer;
    animation: beep 2s infinite ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

.outline-button:hover {
    background-color: #FF7128;
    color: white;
}

/* Red Alarm Indicator */
.alarm-indicator {
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -8px;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
    animation: beep 2s infinite;
}
